
.asteroids {
    font-family: 'Roboto', sans-serif;
    

    .title {
        color: lightseagreen;
        text-align: center;
    }

    .someStyles {
        color: red;
        font-weight: 200;
        position: relative;
        border: 1px solid black;
        margin: 10px 20px;
        padding: 10px 20px;
    }
}

