.nav {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

a.link {
    color: navy;
    text-decoration: none;
    padding: 10px 20px;
}

a.link:hover {
    color: rgb(226, 72, 72);
}

a.active {
    color: #666;
    text-decoration: none;
    padding: 10px 20px;
}